---
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Créations de Doudou</title>
</head>
<body>
    {% include header.html %}
    <h1>Les Créations de Doudou</h1>
    <p>Voici quelques-unes de mes créations :</p>
    <div class="gallery">
        {% assign images = site.static_files | where: "path", "/assets/images" %}
        {% for image in images %}
            <img src="{{ image.path | relative_url }}" alt="" loading="lazy">
        {% endfor %}
    </div>
</body>
</html>
